#page-create-point {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    /* alinhamento de caixa pelo lado de fora */ 
}

#page-create-point header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--secondary-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');
    width: 20px;
    height: 24px;
    display: flex;
}

form {
    background-color: black;
    margin: 80px auto;
    padding: 64px;
    border-radius: 8px;
    max-width: 770px;
    box-shadow: 1px 1px 9px #2196F3;
}

form h1 {
    font-size: 36px;
}
form fieldset .field label {
    color: var(--title-color);
}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form legend {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

form legend h2 {
    font-size: 24px;
}

form legend span {
    font-size: 14px;
    color: var(--secondary-color);
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form input,
form select {
    background-color: rgb(227, 228, 231);
    border: 0;
    border-radius: 8px;
    padding: 16px 24px;
    font-size: 16px;
    outline: none;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}
/* se refere ao .field que vem seguido de um .field */
form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fe26e;
    transition: 400ms;
    box-shadow: 1px 0px 5px #32ffec;
}

/* //////////////// */
.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 16px;   
}

.items-grid li {
    background-color: rgb(227, 228, 231);
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.items-grid li:hover {
    box-shadow: 1px 0px 5px #32ffec;
}

.items-grid li img {
    width: 83px;
} 
.items-grid li span {
    flex: 1;
    margin-top: 12px;
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.items-grid li.selected {
    background: #e1faf9;
    border: 2px solid #34cb79;
    box-shadow: 1px 1px 9px #59cc79;
}
/* os evento de pointer no img e span não existem */
.items-grid li img,
.items-grid li span {
    pointer-events: none;
}