:root {
    --title-color: #59cc79;
    --primary-color: #34cb79;
    --secondary-color: #70f0c3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', 'sans-serif';
    background: #051f38;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', 'sans-serif ';
}

a {
    text-decoration: none;
}

#ecoleta-icon {
    width: 55px;
}

#ecoleta-logo {
    font-weight: bold;
    font-size: 37px;
    position: absolute;
    margin-left: 61px;
    margin-top: 6px;
    color: var(--secondary-color);
    text-shadow: 1px 1px 7px var(--primary-color);
}