:root {
    --title-color: #3a8650;
    --primary-color: #34cb79;
    --secondary-color: #322253;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', 'sans-serif';
    background: #c3dce1;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', 'sans-serif ';
}

a {
    text-decoration: none;
}